
@{
    ViewBag.Title = "LienHe";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Content/LienHeCss.css" rel="stylesheet" />
<div class="container" style="min-height:600px">
    <h2 style="text-align:center;color:white;margin-top:50px">
        Chức năng chưa hỗ trợ
    </h2>
</div>
