
@using Music_Web.Areas.Admin.Models.DataModel
@model WebUser

@{
    ViewBag.Title = "Index";
}

<h3 style="padding-top:30px;min-height:500px;color:white">
    <strong >Đăng kí thàng công</strong>
    &gt;&gt;Xem chi tiết <b><a class="text-success" style="color:red" href="#">@Model.FullName</a></b>

</h3>