
@{
    ViewBag.Title = "NotificationAuthorize";
}

<h2 style="padding-top:15px;">Thông báo từ ban quản trị website</h2>
<div class="alert alert-danger">Bạn không có quyền truy cập chức năng này!Liên lạc ban quản trị để cấp quyền</div>
<div class="col-md-offset-5 col-md2"><button class="btn btn-lg btn-info" onclick="javascript:history.back()">Quay lại</button></div>
