@model Music_Web.Areas.Admin.Models.DataModel.WebAlbumUser

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>WebAlbumUser- Chưa hỗ trợ</h4>
    <hr />
    
    
</div>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>
